<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Theo Dammaretz online business card and resume homemade website and portfolio">
<meta name="keywords" content="resume, CV, theo, dammaretz, théo, software, engineer, international, developper, developer">
<meta name="author" content="Theo Dammaretz">
<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
<meta name="msapplication-tap-highlight" content="no">
<meta name="theme-color" content="#073642">
<meta name="twitter:card" content="summary">
<meta property="og:title" content="Theo Dammaretz, software engineer" />
<meta property="og:type" content="profile" />
<meta property="og:profile:first_name" content="Dammaretz" />
<meta property="og:profile:last_name" content="Theo" />
<meta property="og:profile:gender" content="male" />
<meta property="og:url" content="https://dammaretz.fr/" />
<meta property="og:image" content="https://dammaretz.fr/images/bg-md.jpg" />
<meta property="og:description" content="Theo Dammaretz online business card and resume" />
<meta property="og:site_name" content="Theo Dammaretz, software engineer" />
<link rel="manifest" href="/manifest.json">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/icon-512x512.png">
<link rel="preload" as="script" href="/bundle.js" />
<link rel="stylesheet" href="/css/style.css">
