<script type="application/ld+json">
  [{ "@context": "http://schema.org", "@type": "Person", "name": "Theo Dammaretz", "image": "http://dammaretz.fr/images/bg-md.jpg", "url": "http://dammaretz.fr", "email": "theo@dammaretz.fr", "sameAs": ["http://github.com/Blightwidow",
  "http://www.linkedin.com/in/theodammaretz"] }, { "@context": "http://schema.org", "@type": "WebSite", "name": "Theo Dammaretz CV", "url": "http://dammaretz.fr" } ]
</script>
