<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error 404 Unavailable content</title>
    {{> partials/head }}
  </head>
  <body>
    <div class="content-wrapper">
      <div class="left-wrapper">
        <header role="banner" class="site-header">
          <h1 class="console-text">
            This content is not available
          </h1>
          <h2 class="console-text">
            This page doesn't exist or you are offline. Try to go back to <a class="text-lighter" href="/">the Homepage</a> ?
          </h2>
        </header>
      </div>
      {{> partials/right-wrapper }}
    </div>
  </body>
</html>
