<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  Theo Dammaretz's CV
{% endblock %}

{% block header %}
  Theo Dammaretz
{% endblock %}

{% block subheader %}
  Web &#38; Software Engineer
{% endblock %}

{% block content %}
<div class="bio-wrapper">
  <p>
    I am a Software and Web engineer. I have a deep knowledge of both software programming (JAVA, C, C++, JavaScript) and web programming (PHP, HTML, CSS, JavaScript, Angular2, ServiceWorkers). I already accumulate 2 years of experience with a 1+ year in programming and an additional year researching
    in a laboratory.
  </p>
  <p>
    Until recently, I was developing both software and website for <a lang="fr" href="https://www.lecourrierderussie.com">Le Courrier de Russie</a>. I was in charge of maintaining and developing the journal's website in addition to develop the software
    frameworks for the journal publishing branch. I succeeded to increase <abbr title="Search Engine Optimization">SEO</abbr> rankings, optimizing page speeds and develop Angular 2 applications. Previous experience includes software development
    work with Synergetik (France) and Full Electronic System (France) and research at Tohoku University.
  </p>
  <p>
    If you care for web and software performance and usability, we are alike.
  </p>
  <p>
    I have a Master Degree from the Grenoble Institute of technologies in Programming and Electronics of Embedded systems.
  </p>
</div>
<a href="https://github.com/Blightwidow/latex-cv/raw/build/cv.pdf" class="text-lighter download-cv">Download CV<svg class="text-accent" viewBox="0 0 471.2 471.2" ><g><g>
  <path d="M457.7,230.15c-7.5,0-13.5,6-13.5,13.5v122.8c0,33.4-27.2,60.5-60.5,60.5H87.5c-33.4,0-60.5-27.2-60.5-60.5v-124.8    c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v124.8c0,48.3,39.3,87.5,87.5,87.5h296.2c48.3,0,87.5-39.3,87.5-87.5v-122.8    C471.2,236.25,465.2,230.15,457.7,230.15z"/>
  <path class="dl-arrow" d="M226.1,346.75c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.8-85.8c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-62.7,62.8    V30.75c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v273.9l-62.8-62.8c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1    L226.1,346.75z"/></g></g></svg>
</a>
{% endblock %}
